---
import DefaultLayout from '../../layouts/DefaultLayout.astro';
import { getCollection } from 'astro:content';
import { Pagination } from 'accessible-astro-components';

export async function getStaticPaths({ paginate }) {
  const posts = await getCollection('posts');
  return paginate(posts, { pageSize: 6 });
}

const { page } = Astro.props;
---

<DefaultLayout title="Blog" description="Discover stories and tutorials.">
  <section class="my-12">
    <div class="container">
      <h1>Blog</h1>
      <p class="text-2xl">Explore our latest posts and stories.</p>
    </div>
  </section>

  <section class="my-12">
    <div class="container">
      <ul class="grid my-3">
        {page.data.map(post => (
          <li key={post.slug}>
            <!-- Use the slug to link directly to the markdown page path -->
            <a href={`/blog/${post.slug}`} class="block mb-4 p-4 border rounded">
              <h2 class="text-xl mb-2">{post.data.title}</h2>
              <p class="text-sm">{post.data.description}</p>
              <footer class="text-xs text-gray-600">{post.data.publishDate} • {post.data.author}</footer>
            </a>
          </li>
        ))}
      </ul>
      <div class="mt-12 grid place-content-center">
        <Pagination
          currentPage={page.currentPage}
          totalPages={page.lastPage}
          renderPageLink={(pageNumber) => `/blog/${pageNumber}`}
        />
      </div>
    </div>
  </section>
</DefaultLayout>
