---
import DefaultLayout from '../../layouts/DefaultLayout.astro'
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('posts');
  return posts.map((post) => ({
    params: { post: post.slug },
    props: { post }
  }));
}

const { post } = Astro.props;
---

<DefaultLayout title={post.data.title} description={post.data.description}>
  <section class="my-12">
    <div class="container">
      <h1>{post.data.title}</h1>
      <p class="text-sm text-gray-600">Published on {post.data.publishDate} by {post.data.author}</p>

      <article class="prose mt-8">
        {post.body}
      </article>
    </div>
  </section>
</DefaultLayout>
